@font-face {
    font-family: MyriadPro;
    src: url("./MyriadPro-Regular.otf") format("opentype");
}

* {

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

// img {
//     max-width: 100%;
//     height: auto;
// }

.centered {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    .logo {
        width: 10%;
        height: 60%;
    }
}

.App {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    @extend .centered;
    position: relative;
    max-width: 782px;
    background-color: #333333;
    color: white;
    padding-left: 5px;
    padding-right: 5px;

    .sliderTitle {
        font-size: 34px;
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid #797979;
        .fa-imdb::before {
            width: 30px;
        }
    }
    .container {
        margin-top: 16px;
        margin-bottom: 16px;
        border-right: 1px solid #797979;
        padding-left: 12px;
        overflow: hidden;
        max-height: 165px;
        .col-5 {
            img {
                border: 1px solid white;
            }
        }
        .col-7 {
            padding-left: 10px;
            .movieTitle {
                line-height: 22px;
                font-size: 18px;
                font-weight: bold;
                min-height: 50px;
                padding-top: 5px;
            }
            a {
                height: 22px;
                width: 70px;
                font-size: 10px;
                padding: 6px;
                background-color: #868684;
                border-style: none;
                text-align: left;
                margin-top: 6px;
            }
            .genre {
                color: #8496a2;
                font-size: 10px;
                text-transform: uppercase;
            }
        }
        .col-9 {
            padding-top: 8px;
            font-size: 12px;
            .movieOverview {
                line-height: 18px;
                color: #8496a2;
                max-height: 54px;
            }
        }
        .col-3 {
            font-family: MyriadPro !important;
            margin-top: 12px;
            text-align: center;
            vertical-align: middle;
            border-right: 1px dotted #797979;

            .movieRate {
                vertical-align: middle;
                padding-top: 10px;
                font-size: 24px;
                i{
                    margin-right: 5px;
                    font-size: 28px;
                    color: #e4bb25;
                }
            }
        }
    }
}
